.rootcontainer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}



.reason {
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reason:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.reasonImage {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.reasonImage:hover {
  transform: scale(1.1);
}

.reasonTitle {
  font-size: 1.25rem;
  margin: 10px 0 5px;
}

.reasonDescription {
  font-size: 0.875rem;
  color: #6c757d;
}
