.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin: 0;
}

.headerImage {
  width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subContainer {
  text-align: left;
  margin-bottom: 2rem;
}

.subheading {
  font-size: 1.5rem;
  color: #666;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nameContainer {
  display: flex;
  gap: 1rem;
}

.field {
  flex: 1;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
  font-weight: 500;
}

.input,
.textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 1px;
  border: 1px solid #ccc; /* Adjust border color */
  border-radius: 4px;
  font-size: 1rem;
  background-color: #a3a4cf; /* Light gray background */
  color: #333; /* Dark text color */
}

.input::placeholder,
.textarea::placeholder {
  color: #888; /* Light gray placeholder text */
}

.input:focus,
.textarea:focus {
  border-color: #dc3545; /* Red border on focus */
  outline: none;
  background-color: #fff; /* White background on focus */
}

.textarea {
  height: 150px;
}

.captcha {
  margin: 1.5rem 0;
  text-align: center;
}

.submitButton {
  background-color: #dc3545;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #c82333;
}

.submitButton:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Add responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .headerImage {
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }

  .title {
    font-size: 2rem;
  }
}
