.container {
  display: flex;
  width: 100%; /* Full width */
  height: auto; /* Flexible height based on content */
}

.textChild {
  font-size: 30px;
  flex: 1;
  padding: 20px; /* Optional padding */
}

.imgChild {
  flex:1;
  padding: 20px;
}

.imgChild img {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove space below the image */
}
